<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPERC</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <main>
        <h1>IPERC</h1>
        <h2>Prueba de llenado de IPERC RAMA TEST</h2>
        <div>RAMA TEST</div>
        <section>
            <table id="iperc">
                <thead>
                    <tr id="iperc-head">
                        <th>Actions</th>
                        <th>Peligro</th>
                        <th>Riesgo Asociado</th>
                        <th>Probabilidad</th>
                        <th>Consecuencia</th>
                        <th>Resultado</th>
                    </tr>
                </thead>
                <tbody id="iperc-body">
                    <form id="iperc-body-form">
                        <tr>
                            <!-- <td>
                                Remove
                            </td>
                            <td>
                                <input type="text" name="peligro" id="peligro" placeholder="Ingresa Peligro">
                            </td>
                            <td>
                                <input type="text" name="riesgo" id="riesgo" placeholder="Ingresa el Riesgo">
                            </td>
                            <td>
                                <select id="probabilidad" name="probabilidad" onchange="calculate()">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </td>
                            <td>
                                <select id="consecuencia" name="consecuencia" onchange="calculate()">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </td>
                            <td>
                                <div id="resultado"></div>
                            </td>
                        </tr> -->
                    </form>
                </tbody>
            </table>
            <button onclick="addRow()">Agregar fila</button>
            <button onclick="myFunction()">Test JS</button>
            <button onclick="calculate()">Test</button>
        </section>
    </main>
    <!-- Scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>